# Auto detect text files and perform LF normalization
* text=auto
firms_clean_mearged.csv filter=lfs diff=lfs merge=lfs -text
data/processed/firms_clean_merged.csv filter=lfs diff=lfs merge=lfs -text
